openapi: 3.0.3
info:
  title: ANUBIS AI Chat API
  version: 0.1.0
  description: Minimal OpenAPI stub for AI agent discovery.
servers:
  - url: https://anubis.chat
paths:
  /api/chat:
    post:
      summary: Send a chat message
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatResponse"
  /api/agents:
    get:
      summary: List agents
      responses:
        "200":
          description: OK
  /api/models:
    get:
      summary: List supported models
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  enum:
                    - gpt-5
                    - gpt-5-mini
                    - o4-mini
                    - gpt-4.1-mini
                    - gemini-2.5-pro
                    - gemini-2.5-flash
                    - gemini-2.5-flash-lite
                    - gemini-2.0-flash
                    - claude-3.7-sonnet
                    - claude-3.5-sonnet
                    - claude-3.5-haiku
                    - claude-sonnet-4
                    - claude-opus-4.1
                    - deepseek-chat
                    - llama-3.1-70b-instruct
                    - gpt-oss-20b
                    - glm-4.5-air
                    - qwen3-coder
                    - kimi-k2
components:
  schemas:
    ChatRequest:
      type: object
      properties:
        message:
          type: string
        model:
          type: string
          description: Preferred model id
          enum:
            - gpt-5
            - gpt-5-mini
            - o4-mini
            - gpt-4.1-mini
            - gemini-2.5-pro
            - gemini-2.5-flash
            - gemini-2.5-flash-lite
            - gemini-2.0-flash
            - claude-3.7-sonnet
            - claude-3.5-sonnet
            - claude-3.5-haiku
            - claude-sonnet-4
            - claude-opus-4.1
            - deepseek-chat
            - llama-3.1-70b-instruct
            - gpt-oss-20b
            - glm-4.5-air
            - qwen3-coder
            - kimi-k2
      required:
        - message
    ChatResponse:
      type: object
      properties:
        reply:
          type: string
